/*=========================================
Blog Responsive Template
Version: 1.0
Designed By: Denzil Muller
===========================================
01 - COMMON CSS
02 - HEADER
03 - NAVBAR
04 - BANNER
05 - BLOG SECTION
06 - FOOTER SECTION
07 - BLOG PAGE
08 - BLOG DETAIL PAGE 
===========================================*/


/* ***************************************
    RESET CSS               
*************************************** */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

ol,
ul {
    list-style: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button {
    color: #242424;
    text-decoration: none;
    -webkit-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
}

a:hover {
    text-decoration: none;
    color: #363636;
}

::-webkit-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
}

:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    filter: alpha(opacity=100);
}

::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
    filter: alpha(opacity=100);
}

:-ms-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
}

img {
    max-width: 100%;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #727272;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


/* ***************************************
    COMMON               
*************************************** */

.section-padding {
    padding: 90px 0;
}

.section-padding-less {
    padding-bottom: 10px;
}

.section-title {
    padding-bottom: 60px;
}

.section-title h2 {
    color: #313131;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding-left: 115px;
    padding-right: 60px;
    position: relative;
    text-transform: uppercase;
}

.section-title h2::before {
    background-color: #313131;
    bottom: 22px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 105px;
}

.section-title h2::after {
    background-color: #313131;
    bottom: 22px;
    content: "";
    height: 5px;
    right: 0;
    position: absolute;
    width: 50px;
}

.section-title.white-section h2::before {
    background-color: #fff;
}

.section-title.white-section h2 {
    color: #fff;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    display: block;
}

.btn-bordered {
    border: 1px solid #666666;
    color: #666666;
}

.btn-bordered:hover {
    background: #313131;
    color: #ffffff;
}

.btn-white-bordered {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-white-bordered:hover {
    background: #ffffff;
    color: #313131;
}

.btn-black {
    background: #313131;
    color: #ffffff;
}

.btn-black:hover {
    color: #ffffff;
}


/* ***************************************
    HEADER               
*************************************** */

.main-header {
    background: rgba(0, 0, 0, 0.2);
}

.main-header .navbar-toggle {
    border: 1px solid #ffffff;
    border-radius: 0px;
}

.main-header .navbar-toggle .icon-bar {
    background: #ffffff;
}

.main-header .navbar-collapse {
    background: none;
}


/* ***************************************
    NAVBAR               
*************************************** */

@media (min-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 999;
    height: 50px;
    border-radius: 0;
}

.navbar.sticky {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0 !important;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
    z-index: 99999;
}

.navbar-brand {
    padding: 0;
    width: 100%;
    margin-top: 15px;
    color: #f4f4f4;
    text-transform: uppercase;
}

.navbar-brand:hover {
color: #7f7f7f;
}

.nav li a {
    color: #f4f4f4;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.nav li a:before {
    background-color: #ffffff;
    bottom: 8px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.35s ease-in-out 0s;
    transition: all 0.35s ease-in-out 0s;
    width: 100%;
}

.nav li a:hover {
    color: #ffffff;
}

.nav li a:hover::before,
.portfolio-sorting li a.active:before,
.portfolio-sorting li a:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* ***************************************
    BANNER             
*************************************** */

#main-banner {
    overflow: hidden;
}

#main-banner .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#main-banner .slider-inner h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #313131;
    font-size: 60px;
    font-weight: 700;
}

#main-banner .slider-inner h2 {
    color: #666666;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 15px 0 25px;
    text-transform: uppercase;
}

.carousel-content {
    left: 0;
    position: absolute;
    text-align: left;
    top: 280px;
    width: 100%;
}

#main-banner .btn {
    width: 200px;
}



/* ***************************************
    BLOG SECTION              
*************************************** */

.blog-box {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    margin-bottom: 30px;
}

.blog-box .blog-image {
    position: relative;
    text-align: center;
    background: #313131;
}

.blog-box .blog-image img {
    width: 100%;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.blog-box:hover img {
    opacity: 0.4;
}

.blog-box .blog-social {
    position: absolute;
    width: 100%;
    bottom: -100%;
    left: 5px;
    z-index: 9;
    opacity: 0;
    padding: 28px 0;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.blog-box:hover .blog-social {
    bottom: 0;
    opacity: 1;
}

.blog-box .blog-social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.blog-box .blog-social li a:hover {
    color: #313131;
    background: #ffffff;
}

.blog-box .blog-content {
    padding: 25px 15px;
    position: relative;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    background: #f4f4f4;
}

.blog-box .blog-content h4 {
    font-size: 20px;
    color: #313131;
    text-transform: uppercase;
    font-weight: 600;
}

.blog-box .blog-content span {
    display: block;
    color: #313131;
    font-size: 14px;
    margin-bottom: 10px;
}

.blog-box .blog-content p {
    display: block;
    line-height: 24px;
    color: #313131;
}

.blog-link {
    width: 200px;
    margin: 0 auto;
}


/* ***************************************
    FOOTER
*************************************** */

footer {
    background: #313131;
    text-align: center;
    position: relative;
}

footer .footer-logo {
    margin-bottom: 30px;
}

footer .footer-social {
    margin-bottom: 30px;
}

footer .footer-social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

footer .footer-social li a:hover {
    color: #313131;
    background: #ffffff;
}

footer {
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer .back-to-top {
    color: #fff;
    position: relative;
    background: #313131;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    right: auto;
    margin-left: -25px;
}


/* ***************************************
    BLOG LIST PAGE
*************************************** */

.blog-banner-wrap {
    position: relative;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(/assets/images/blog-bg.jpg);
}

.blog-banner-wrap h1 {
    color: #ffffff;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 390px;
    position: relative;
    z-index: 9;
}


/* ***************************************
    SIDEBAR SECTION
*************************************** */

.article-blog {
    margin-bottom: 60px;
}

.pagination-view .pagination {
    margin: 0;
}

.pagination-view .pagination > li > a,
.pagination > li > span {
    border: 1px solid #bfbfbf;
    color: #313131;
    margin: 5px;
    padding: 10px 15px;
}

.pagination-view .pagination > li > a,
.pagination > li > span {
    border-radius: 0px;
}

.pagination-view .pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: #313131;
    color: #fff;
}

.widget {
    margin-bottom: 30px;
    overflow: hidden;
}

.widget .form-control {
    background: none;
    border: 1px solid #bfbfbf;
    border-right: none;
    border-radius: 0px;
    color: #bfbfbf;
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 1.42857;
    padding: 15px 20px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-shadow: none;
    width: 100%;
}

.widget .input-group-addon {
    background: none;
    border: 1px solid #bfbfbf;
    border-left: none;
    border-radius: 0px;
    color: #bfbfbf;
    text-align: center;
    cursor: pointer;
}

.widget .input-group-addon i {
    font-weight: bold;
}

.widget-title {
    border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 18px;
    color: #313131;
    padding: 25px 0 15px;
    margin-bottom: 40px;
}

.categories ul li {
    float: left;
    width: 50%;
}

.categories ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #313131;
}

.latest-post-area li a {
    color: #242424;
    display: block;
    font-size: 13px;
    margin-bottom: 1px;
}

.categories ul li a:hover {
    color: #313131;
}

.latest-post-text {
    letter-spacing: 1px;
}

.latest-post-text h2 a {
    color: #313131;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.latest-post-text p {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 18px;
}

.latest-post-area li img {
    float: left;
    height: auto;
    margin-right: 15px;
    margin-top: 5px;
}

.latest-post-area li {
    margin-bottom: 16px;
    overflow: hidden;
}

.post-accordion button.accordion {
    background: none;
    color: #313131;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    text-transform: uppercase;
}

.post-accordion button.accordion:after {
    content: '\02795';
    font-size: 12px;
    color: #fff;
    float: left;
    background: #313131;
    padding: 5px 14px;
    margin-right: 26px;
}

.post-accordion button.accordion.active:after {
    content: "\2796";
}

.post-accordion div.panel {
    padding: 0 0 0 42px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.post-accordion div.panel.show {
    opacity: 1;
    max-height: 500px;
}

.post-accordion .panel {
    background: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
    margin-left: 30px;
}

.instagram-bar ul li {
    float: left;
    margin: 0 10px 10px 0;
}

.pagination-view {
    text-align: center;
    font-size: 12px;
}


/* ***************************************
    BLOG DETAIL CSS
*************************************** */

.blog-detail-wrap .blog-box:hover img {
    opacity: 1;
}

.blog-detail-wrap .blog-box:hover .blog-social {
    position: relative;
    bottom: auto;
}

.blog-detail-wrap .blog-box .blog-social {
    position: relative;
    width: 100%;
    bottom: auto;
    left: 5px;
    z-index: 9;
    opacity: 1;
    padding: 0 0;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.blog-detail-wrap .blog-box .blog-social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #313131;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    color: #313131;
    font-size: 16px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.blog-detail-wrap .blog-box .blog-social li a:hover {
    color: #ffffff;
    background: #313131;
}

.blog-detail-social .team-social ul li a {
    color: #313131;
}

.blog-detail-social {
    margin-top: 25px;
}

.blog-detail-social .article-update {
    float: left;
    font-size: 12px;
    padding: 7px 0;
}

.blog-detail-social .article-update a {
    color: #313131;
    margin-right: 25px;
}

.blog-detail-social .article-update a i {
    margin-right: 10px;
}

.blog-detail-social .team-social {
    float: right;
}

.blog-detail-social .team-social ul {
    display: block;
    margin: 0;
}

.blog-detail {
    padding: 15px;
    color: #313131;
}

.blog-detail p {
    margin-bottom: 15px;
}

.comment-area h2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    margin-bottom: 40px;
}

.comment {
    overflow: hidden;
}

.comment:nth-child(2n) {
    background: #fff;
}

.latest-comment-area ol li {
    background: #f8f8f8;
    border: 1px solid #eeeeee;
}

.latest-comment-area ol li ul li {
    background: #f8f8f8;
    margin-left: 65px;
    border: 0px;
}

.comment {
    padding: 20px;
}

.latest-comment-area li img {
    float: left;
    height: auto;
}

.comment-icon {
    float: left;
}

.comment-icon a i {
    line-height: 60px;
    margin: 0 30px;
}

.latest-comment-text p {
    color: #000;
    line-height: 24px;
    letter-spacing: .5px;
}

.latest-comment-text p span {
    font-weight: bold;
}

.reply {
    background: #f4f4f4;
    padding: 40px 30px;
}

.reply-head h2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    margin: 40px 0;
}

.reply .form-control {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #313131;
    box-shadow: none;
}

.reply textarea.form-control {
    height: 120px;
    resize: none;
}

.reply .form-control:hover {
    border-color: #313131;
    box-shadow: none;
}

.reply .btn-black {
    width: 200px;
}

.page-header {
    margin-top: 80px;
}

.img-thumbnail {
    max-width: 20%;
}

#ListingTable_length label {
    margin:  0 0 10px 0;
}

#ListingTable_paginate span {
    margin :  0px 10px ;
}
