/* md */

@media (min-width: 992px) and (max-width: 1199px) {
    #main-banner .slider-inner h1 {
        font-size: 51px;
    }
}


/* sm */

@media (min-width: 768px) and (max-width: 991px) {
    .hover-content {
        bottom: -65px;
    }
    .service-box:hover .hover-content {
        bottom: 20px;
    }
    .section-padding {
        padding: 70px 0;
    }
    .section-title {
        padding-bottom: 70px;
    }
    .section-title h2 {
        font-size: 40px;
    }
    .section-title h2::before {
        height: 5px;
        width: 100px;
    }
    .nav>li>a {
        padding: 15px 13px;
    }
    .carousel-content {
        top: 230px;
    }
    #main-banner .slider-inner h1 {
        font-size: 43px;
    }
    #main-banner .slider-inner h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .about-box .about-image img {
        width: 100%;
    }
    .about-box .about-image:after {
        display: none;
    }
    .overview-wrap .overview-circle {
        width: 150px;
        height: 150px;
    }
    .overview-wrap .overview-circle .overview-icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        top: 50px;
    }
    .overview-wrap .overview-circle .overview-count {
        top: 55px;
        right: 8px;
    }
    .reply .form-group {
        margin-bottom: 0;
    }
    .reply .form-control {
        margin-bottom: 15px;
    }
    .sidebar {
        margin-top: 30px;
    }
}


/* xs */

@media (max-width: 767px) {
    .hover-content {
        bottom: -15px;
    }
    .section-padding {
        padding: 45px 0;
    }
    .section-title {
        padding-bottom: 45px;
    }
    .section-title h2 {
        font-size: 40px;
    }
    .section-title h2::before {
        width: 60px;
        bottom: 15px;
        top: auto;
    }
    .section-title h2::after {
        bottom: 15px;
        width: 25px;
    }
    .section-title h2 {
        font-size: 32px;
        padding-left: 70px;
        padding-right: 40px;
    }
    .sec-title-white p {
        font-size: 13px;
        letter-spacing: 1px;
        padding-left: 70px;
        padding-top: 3px;
    }
    .navbar-brand {
        padding-top: 15px;
        margin: 0;
        width: 50%;
    }
    .main-header .navbar-collapse {
        background: #000;
    }
    .carousel-content {
        top: 225px;
        width: 95%;
        padding: 15px;
    }
    #main-banner .slider-inner h1 {
        font-size: 28px;
    }
    #main-banner .slider-inner h2 {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 24px
    }
    .about-box .about-image:after {
        display: none;
    }
    .overview-wrap .overview-circle {
        margin: 0 auto 30px;
    }
    .contact-now-wrap h2 {
        font-size: 28px;
    }
    .contact-now-wrap {
        text-align: center;
    }
    .contact-now-wrap .btn {
        float: none;
        font-size: 14px;
        font-weight: 400;
        display: block;
        width: 200px;
        margin: 15px auto 0;
    }
    .contact-wrap .form-group {
        margin-bottom: 0;
    }
    .contact-wrap .form-control {
        margin-bottom: 30px;
    }
    .reply .form-group {
        margin-bottom: 0;
    }
    .reply .form-control {
        margin-bottom: 15px;
    }
    .sidebar {
        margin-top: 30px;
    }
}


/* XS Portrait */

@media (max-width: 479px) {
    .section-padding {
        padding: 30px 0;
    }
    .section-title {
        padding-bottom: 40px;
    }
    .section-title h2 {
        font-size: 40px;
    }
    .section-title h2 {
        font-size: 32px;
        padding-left: 70px;
        padding-right: 40px;
    }
    #main-banner .item {
        height: 75vh;
    }
    .carousel-content {
        top: 200px;
        padding: 15px;
    }
}